<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>500 - 风信子</title>
  <link rel="icon" href="/static/image/logo/logo.png">
  <!-- CSS files -->
  <link href="/static/css/tabler.min.css" rel="stylesheet"/>
</head>
<body class="antialiased border-top-wide d-flex flex-column">
<div class="page page-center">
  <div class="container-tight">
    <img src="/static/image/500.png">
    <a href="/package/home/app=all" class="btn btn-primary" style="margin-left: 160px">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="5" y1="12" x2="19" y2="12" /><line x1="5" y1="12" x2="11" y2="18" /><line x1="5" y1="12" x2="11" y2="6" /></svg>
      回到首页
    </a>
  </div>
</div>
<script src="/static/js/tabler.min.js"></script>
</body>
</html>