{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="page page-center" >
    <div class="container-tight">
        {% block content %}{% endblock %}
        <footer class="footer footer-transparent text-center">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    Copyright &copy; 2022
                    <a href="." class="link-secondary">风信子</a>.
                    All rights reserved.
                </li>
            </ul>
        </footer>
    </div>

</div>
{% endblock %}
